.categories {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin: 10px;
  padding: 7px 0;
  /* border-bottom: 1px solid black; */
}
.left-sec h3 {
    /* border-bottom: 1px solid black; */
    padding: 10px 0;
}

.categories button {
  border: none;
  height: 35px;
  padding: 8px;
  width: fit-content;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all ease-in-out .3s;
}

.categories button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}


.trending-card {
    height: 100px;
    border-bottom: 1px solid  black;
    display: grid;
    grid-template-columns: 1fr 3fr ;
}

.trending-number {
   color: rgb(164, 157, 157);
    font-size: 80px;
}

.trending-blog-title {
    font-size: 1.4rem;
    padding-left: 10px;
}

.trending-blog {
        display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}