nav {
  background-color: beige;
  width: 99%;
  margin: auto;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.main-bar {
  height: inherit;
  display: flex;
  position: absolute;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-bar .logo {
  height: 40px;
}

.search-logo {
  height: 20px;
}

.search {
  gap: 10px;
  align-self: center;
  position: relative;
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  /* border-radius: 32px; */
  background-color: transparent;
  border-bottom: 2px solid black;
  /* box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.01), 0px 0px 5px rgba(3, 7, 18, 0.02),
    0px 0px 12px rgba(3, 7, 18, 0.04), 0px 0px 22px rgba(3, 7, 18, 0.05),
    0px 0px 34px rgba(3, 7, 18, 0.06); */
}

.search input {
  order: 1;
  width:93%;
  outline: none;
  border: none;
  background-color: transparent;
}

nav img {
  cursor: pointer;
}

/* From Uiverse.io by alexroumi */

.auth {
  display: flex;
  gap: 15px;
}


.auth img {
  width: 25px;
  height: 25px;
}

.auth .sign-in {
  width: 90px;
  height: 35px;
  background: black;
  color: wheat;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.auth .sign-in:hover {
  box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.14), 0px 0px 5px rgba(3, 7, 18, 0.14),
    0px 0px 12px rgba(3, 7, 18, 0.14), 0px 0px 22px rgba(3, 7, 18, 0.14),
    0px 0px 34px rgba(3, 7, 18, 0.14);
}

.write:hover {
  box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.14), 0px 0px 5px rgba(3, 7, 18, 0.14),
    0px 0px 12px rgba(3, 7, 18, 0.14), 0px 0px 22px rgba(3, 7, 18, 0.14),
    0px 0px 34px rgba(3, 7, 18, 0.14);
}

.write {
  border-radius: 18px;
  width: 105px;
  display: flex;
  justify-content: center;
  background: white;
  align-items: center;
  color: black;
  border: 1px solid black;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
}
