.blog {
      display: grid;
    grid-template-columns: 2fr 1fr;
    cursor: pointer;
    color: black;
    border-radius: 26px;
    margin: 15px;
    padding: 15px;
    background: #f7f7f6
}
.right-sec {
    height: 80vh;
    position: relative; 
}

.right-sec>h4 {
  cursor: pointer;
}

.blogs {
    position: relative;
overflow-x: hidden;
}

.blog img {
  width: 85%;
  margin: 10px;
  border-radius: 5px;
}

.profilePic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  margin: 0;
}

.profilePic {
  width: 50px;
  height: 50px;
  position: relative;
}

.all-user {
  display: flex;
  position: relative;
  height: 40px;
  width: fit-content;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.userName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.blogContent {
  display: flex;
  flex-direction: column;
}

.blog-title {
  margin: 4px 2px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 3rem;
    font-weight: bold;
}

.userName {
}
.blogPrologue {
      font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 2rem;
}



.type {
      width: auto;
    font-size: 17px;
    margin: 5px;
    border: none;
    background: #cdcdbd;
    /* height: 28px; */
    border-radius: 17px;
    cursor: pointer;
    padding: 8px;
}

.like {
    width: 40px;
    height: 60px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.bb {
    display: flex;
    height: 30px;
    align-items: center;
    margin: 8px 0;
}

.right-sec h4 {
    width: fit-content;
    font-size: 1.1rem;
    margin-left: 11px;
    text-align: center;
    padding: 4px 0;
    border-bottom: 1px solid black;
}

.authorDetails {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.blogAuthor {
  font-weight: 600;
  font-size: 1.1rem;
}

.blog-loader {
  margin: auto;
  width: 112px;
  height: 112px;
}

.box1,
.box2,
.box3 {
  /* border: 16px solid #f5f5f5; */
  background-color: #c1c1c1;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 3s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 3s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 3s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}
